**/.classpath
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.http
**/azds.yaml
**/bin
**/obj
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/dist
**/coverage
**/npm-debug.log*
**/.eslintcache
**/secrets.dev.yaml
**/values.dev.yaml
**/appsettings.*.local.json
Thumbs.db
Desktop.ini
.DS_Store
LICENSE
README.md

# SourceLink / VS container tools
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
