{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=6110;Database=achievhub;Username=postgres;Password=YOUR_PASSWORD;SSL Mode=Disable"
  },
  "Jwt": {
    "Key": "YOUR_LOCAL_JWT_KEY_AT_LEAST_32_CHARS_LONG",
    "Issuer": "achiev-hub.Server",
    "Audience": "achiev-hub.Client",
    "ExpiryMinutes": 30
  },
  "SteamApi": {
    "ApiKey": "YOUR_STEAM_API_KEY"
  },
  "SyncWorker": {
    "AppRole": "All"
  }
}
